body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }


  p{
    color: #58595B;
  }

  .nav-bar {
    height: 50px;
    background-color: #198cea; /*#64B5F6*/
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-items li{
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
    font-weight: bold;
  }
  
  .logo{
    margin-left: 30px;
  }

  .container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: 20px;
    padding: 20px;
  }

  .sidebar {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height: 74vh;
  }

  .profile-picture{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin-left: 30%;
  }

  .sidebar h2 {
    margin: 10px 0px 50px 24%;
    color: #58595B;
    font-size: medium;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar li {
    margin-bottom: 10px;
    border-radius: 10px;
    height: 40px;
  }

  .sidebar li a {
    font-weight: 550;
    text-decoration: none;
    color: #58595B;
    
  }
  
  .sidebar li a:hover, li a:active {
    color: #64B5F6;
  }


  .sidebar-icon{
    height: 15px;
    width: 15px;
    justify-content: center;
    align-self: center;
    margin-right: 15px;
  }
  .main-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .header h1 {
    margin: 0;
  }

  .user-greetings{
    color: #58595B;
    margin-left: 50px;
  }


  .dashboard-section{
    margin: 150px 100px auto 200px;
  }

  .dashboard-section p{
    margin: auto auto 30px -55px;
  }

  .dashboard-button{
    font-size: medium;
    height: 40px;
    color: #fff;
    width: 200px;
    background-color:#198cea;
    border: none;
    border-radius: 5px;
    margin: 5px auto 5px 80px;
    transition: background-color 0.3s;
  }


  .dashboard-button:hover{
    cursor: pointer;
    background-color: #64B5F6;
    color: #58595B;
  }


  

  .status-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .status-heading{
    font-weight: bold;
  }

  .status-bar div {
    flex: 1;
    padding: 10px;
    text-align: center;
    color: #58595B;
    background-color: #d7ecf7;
    border-radius: 5px;
  }

  .status-bar div:not(:last-child) {
    margin-right: 10px;
  }